.container {
    width: 1000px;
    height: 1000px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 400px;
    height: 400px;
    background-color: yellowgreen;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;

    transition: all 3s linear 1s;
}

.box:hover {
    /*transform: rotate(45deg);*/
    /*transform: scale(0.5);*/
    /*transform: skew(45deg);*/
    transform: translate(200px, 200px);
}

p {
    font-size: 36px;
}